<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faithyee.androidlearningdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 服务管理页 -->
        <activity
            android:name=".ui.service.ServiceDemoAct"
            android:theme="@style/AppTheme" />

        <!-- 广播管理页 -->
        <activity
            android:name=".ui.broadcast.BroadcastDemoAct"
            android:theme="@style/AppTheme" />

        <!-- 本地服务 -->
        <service android:name=".service.LocalService"></service>

        <!-- 远程服务 -->
        <service
            android:name=".service.RemoteService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.faithyee.androidlearningdemo.service.RemoteService" />
            </intent-filter>
        </service>

        <!-- 自定义广播:静态注册 -->
        <!-- 优先级的设定 ，优先级的范围-1000~1000 -->
        <receiver android:name=".brocast.MyReceiver">
            <intent-filter android:priority="10">
                <action android:name="com.faithyee.androidlearningdemo.brocast.MyReceiver" />
            </intent-filter>
        </receiver>

        <!--测试拦截广播,测试拦截，需要两个广播的action名一致，都需要有priority优先级，并且要比没拦截的广播权重高-->
        <receiver
            android:name=".brocast.MyAbortReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.faithyee.androidlearningdemo.brocast.MyReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>